.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #000;
  border-right: 2px solid #000;
  box-shadow: -1.5px 0px 5px #000;
  z-index: 1000;
}

.menu-header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.contrats {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  justify-content: start;
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 10px 0px;
}

.contrats a {
  display: block;
  color: #000;
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 20px;
}

.contrats a:hover {
  color: rgba(0, 0, 0, 0.5);
}

